/*Documento CSS */
@import url("../js/calendar/themes/yellow.css");
body {
	font: 10px arial, hevetica, sans-serif;
	margin: 0 0 0 0px;
	text-align: center;
	background-color: #FFF4F4;
}
ul{
	list-style-type: none;
}
#contenedor{
	text-align: left;
	margin: auto;
	width: 100%;
} 
#cuerpo{
	margin: 1 0 1 0px;
	background-color: #FFF4F4;
	padding: 10 10 10 10px;
	font-size:10px;
}

div#cuerpo a:link { color: #666666;text-decoration: none; 	font-weight: bold;}
div#cuerpo a:visited { color: #666666;text-decoration: none;	font-weight: bold; }
div#cuerpo a:hover { color: #666666;text-decoration: none;	font-weight: bold; }

span#tituloMenu{
	font-weight: bold;
	font-size : 12px;
	font-family : Arial, Helvetica, sans-serif;
}
/************************   ESTILO DE SELECT   **********************************/
option {
	color: #666666;
	font-family: verdana;
	font-size: 10px;
}

select {
	color: black;
	font-size: 9px;
}

input {
	color: #666666;
	font-family: verdana;
	font-size: 10px;
}

textarea {
	color: #666666;
	font-family: verdana;
	font-size: 10px;
}
#grid{
	width: 70%;
	background-color:#000000;
	margin-left: auto; 
	margin-right: auto;
	font-size:10px;
}
#grid .cabecera{
	background-color:#fff4f4;
}
#grid .filas{
	background-color:#FFFFFF;
}
div#formulario{

	border: #C82619 1px solid;
	padding:10px;
	margin:10px;
	width: 80%;
	font-size:10px;
	font-family : Arial, Helvetica, sans-serif;
	position: relative;
}

div#formulario td{
	font-size:10px;
	font-family : Arial, Helvetica, sans-serif;
}

td{
	font-size:10px;
	font-family : Arial, Helvetica, sans-serif;
}

.titulo_maestro{
	color:#C82619;
	font-size : 12px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight: bold;
	text-align:left;
}
.titulo_sistema{
	margin-left: 45px;
	/*color: #C82619;*/
	color: rgb(128,128,128);
	font-size: 12px;
	font-family: Verdana;
	font-weight: bold;
	text-align:left;
}
div#msj {
	margin-left:30%;
	margin-right:30%;
	border:1px solid #C82619;
	padding:10px;
	background-color: #ffffff;
	text-align:center;
	color: #C82619;
	font-weight: bold;
	font: 12px/18px Arial, Helvetica, sans-serif;
}

.campoForm {
	border:1px solid #dc9792;
	padding-left:5px;
	background-color: #ffffff;
	color: black;
	font-weight: bold;
}
.errormsg{
	color:#C82619;
	font-size : 12px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.titulo{
	color:#000000;
	font-size : 11px;
	font-family : Arial, Helvetica, sans-serif;
	font-weight: bold;
}
